/*MAIN*/
*{
	box-sizing: border-box;
}

body{
	padding:0;
	margin: 0;
}

p{
	font-family: 'Roboto Slab', serif;
	color:#777777;
	font-size: 14px;
}

ul{
	font-family: 'Roboto Slab', serif;
	color:#777777;
	font-size: 16px;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

h1{
	color:#ffffff;
	font-size: 60px;
}

h2{
	color:#222222;
	font-size: 40px;
}

h3{
	color:#222222;
	font-size: 18px;
}

a{
	text-decoration: none;
	text-transform: uppercase;
	color:#777777;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
a:hover{
	color:#222222;
}

button{
	background-color: #7cc576;
	color:#fff;
	border: none;
	padding: 15px 20px;
	border-radius: 25px;
	cursor:pointer;
	text-transform: uppercase;
}

button:hover{
	background-color: #ffffff;
	color:#222222;
}

/*NAVIGATION*/

nav{
	display: flex;
	background-color: #ffffff;
	justify-content: space-around;
}

nav div{
	padding: 20px;
	align-self: center;
}

nav img{
	vertical-align: middle;
}

.rightnav a{
	margin-right: 30px;
}

/*HEADER*/
header{
	background: url("/images/title4.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height:100%;
	background-size: cover;
	text-align: center;
	color: #fff;
	margin:0;
	padding:70px;
}
header h1{
	margin-bottom: 0px;
}
header p{
	margin-bottom: 28px;
}
/*SERVICES*/
#services{
	padding:40px;
	overflow: hidden;
	text-align: center;
}
#services::after{
	content:"";
	clear:both;
	display: table;
}
.card{
	padding: 20px 40px;
	text-align: center;
	width:33.3%;
	float: left;
}

.card img{
	display: block;
	margin:auto;
}
/*RELAX*/
#relax{
	display: flex;
}
.info{
	background: url("/images/ocean.jpg");
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: cover;
	padding:100px;
}
#relax h2{
	color:#ffffff;
	
}
#relax img{
	vertical-align: middle;
}
