/*MAIN*/
*{
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
body{
	margin:0;
	padding: 0;
}

p{
	font-family: 'Roboto Slab', serif;
	color:#777777;
	font-size: 16px;
}


h1,h2,h4,h6{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

h1{
	font-size: 60px;
	color:#ffffff;
}

h2{
	font-size: 40px;
	color:#222222;
	font-weight: 900;
}

h3{
	color:#cccccc;
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
}

h4{
	font-size: 18px;
	color:#222222;
}
h5{
	color:#777777;
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
}

a{
	text-decoration: none;
	text-transform: uppercase;
	color:#777777;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
a:hover{
	color:#222222;
	font-weight: 900;
}

button{
	background-color: #7cc576;
	color:#fff;
	border: none;
	padding: 15px 20px;
	border-radius: 25px;
	cursor:pointer;
	text-transform: uppercase;
}

button:hover{
	background-color: #ffffff;
	color:#222222;
	font-weight: 600;
}
ul{
	font-family: 'Roboto Slab', serif;
	color:#cccccc;
	font-size: 16px;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

/*END OF MAIN*/

/*NAV*/
nav{
	display: flex;
	background-color: #ffffff;
	justify-content: space-around;
}

nav div{
	padding: 20px;
	align-self: center;
}

nav img{
	vertical-align: middle;
}

.rightnav a{
	margin-right: 30px;
}

/*END OF NAV*/

/*HEADER*/
header{
	background: url("/images/title4.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height:100%;
	background-size: cover;
	text-align: center;
	color: #fff;
	margin:0;
	padding:100px;
}
/*QUESTIONABLE DECISION*/
header h1{
	margin-bottom: 0px;
}
header h3{
	margin-bottom: 28px;
}
/*END OF QUESTIONABLE DECISION*/
/*END OF HEADER*/

/*SERVICES*/
#services{
	padding:40px;
	overflow: hidden;
	text-align: center;
}

#services::after{
	content:"";
	clear:both;
	display: table;
}

#services > h2, h3{
	margin: 0;
	padding:0;
}
#services h3{
	color:#777777;
}

.card{
	padding: 20px 40px;
	text-align: center;
	width:33.3%;
	float: left;
}
/*END OF SERVICES*/

/*PROMO*/

#promo{
	display: flex;
}
#promo h2{
	color:#ffffff;
	font-weight: 900;
}
#promo span{
	color:#7cc576;
}
#promo p{
	color:#cccccc;
	width: 80%;
}

#promo > div{
	background: url("/images/ocean.jpg");
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: cover;
	padding:100px;
}
#promo > div li{
	padding:5px 0px;
}
#promo > div button{
	margin-top:40px;
}
/*END OF PROMO*/

/*PROJECT*/
#project{
	padding-left: 10%;
}
#project > h2{
	text-align: center;
}
#project > h3{
	text-align: center;
}
#project > h2{
	margin-bottom: 0px;
}
.grey{
	color:#777777;
	margin-top: 0px;
}

.content, .feature{
	display: flex;
}
.feature img{
	align-self: center
}
.feature h4{
	margin-bottom:0px;
}
.feature h5{
	margin-top:0px;
}
.feature div{
	margin-left: 15px;
}

#project a{
	color:#7cc576;
	font-size: 16px;
}
#project a:hover{
	color:#222222;
	font-weight: 600;
}


/*END OF PROJECT*/

/*CULTURE*/
.value div{
	text-align: center;
	position: relative;
	
}

.value span{
	display: inline-block;
	
}
.value span::after{
	 border-top: 1px solid black;
	 display: block;
	 height: 1px;
	 content: " ";
	 width: 33%;
	 position: absolute;
	 right: 0;
	 top: 45px;
}
.value span::before{
	 border-top: 1px solid black;
	 display: block;
	 height: 1px;
	 content: " ";
	 width: 33%;
	 position: absolute;
	 left: 0;
	 top: 45px;
}
#culture div[class="value"]:first-of-type span::before{
	content: "";
	border: none;
}
#culture div[class="value"]:last-of-type span::after{
	content: "";
	border: none;
}
.value{
	width: 33.3%;
	float:left;
}
#culture::after{
	content: "";
	clear:both;
	display: table;
}

#culture h2{
	text-align: center;
}

#culture h3{
	text-align: center;
}
#culture h4{
	text-align: center;
}

/*END OF CULTURE*/

/*CLIENTS*/

.fakeimg{
	width:100px;
	height: 100px;
	border-radius: 50%;
	background-color: #f9f9f9;
	border: 1px solid black;
	float:left;
}

.teammate::after{
	content: "";
	clear: both;
	display: table;
}


/*END OF CLIENTS*/

/*CONTACT*/

div.contact{
	background-color: #7cc576;
	padding:40px;
	text-align: center;
}
div.contact h2{
	color:#ffffff;
}
div.contact button{
	border: 2px solid #ffffff;
	border-radius: 10px;
}
/*END OF CONTACT*/
/*LOGOS*/

.logos{
	padding: 50px;
}

.logos li{
	display: inline-block;
	margin-right: 20px;
}
.logos ul{
	text-align: center;
}



/*END OF LOGOS*/